{
  "extends": "@callstack",
  "rules": {
    "react-native/no-raw-text": 0,
    "jest/no-focused-tests": 0,
    "@kyleshevlin/prefer-custom-hooks": [
      "warn",
      { "allow": ["useCallback", "useRef"] }
    ],
    "promise/prefer-await-to-then": 0
  },
  "plugins": ["@kyleshevlin"],
  "env": {
    "jest/globals": true
  }
}
